/*@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "katex.css";
/*body {*/
/*  font-family: "DM Sans", sans-serif;*/
/*}*/

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bold;
}

option {
  color: black;
}

.css-18176s2 {
  margin-top: 5px;
}

:where(ol, ul) {
  padding: 3% !important;
}

tr {
  border-top: 1px solid black;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}